.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .projectsHeader h1 {
    font-size: 80px;
    color: #d8cd80;
    text-shadow: 2px 2px 2px var(--body_color);
  }

  .projects .projectTitle {
    text-align: center;
    color: #1c2135;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .aboutUsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .aboutUsList h2 {
    color: #1c2135;
  }
  .aboutUsList p {
    align-items: center;
    color: var(--body_color);
    font-size: 36px;
  }
  
  /* MENU ITEM STYLING */
  .AboutUsListItem {
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .AboutUsListItem:hover {
    cursor: pointer;
  }
  .AboutUsListItem .bgImage {
    margin: 10px;
    border-radius: 75px;
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .AboutUsListItem .bgImage p {
    font-size: 14px;
    margin: 0%;
    color: var(--body_color)
  }

  .AboutUsListItem .info {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .AboutUsListItem .info .name {
    position: relative;
    width: 100%;  
    font-size: 18px;
    font-weight: bold;
    margin: 0%;
  }

  @media only screen and (max-width: 1300px) {
    .aboutUsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .aboutUsList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .aboutUsList {
      width: 100%;
    }
    .AboutUsListItem {
      width: 300px;
      height: 300px;
    }
  }

  .AwardList h2{
    color: var(--body_color);
    font-size: 36px;
    text-align: center;
  }
  .AwardList p{
    padding-left: 10%;
    color: var(--body_color);
    font-size: 24px;
    text-align: left;
  }

  .AwardGallary{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .AwardGallary img{
    padding: 5px;
  }

  hr.roundedDivLine {
    border-top: 3px solid var(--yellow_color);
    border-radius: 5px;
    width: 90%;
  }